
subject: 'gyazo return'
#facebook-sender: 'hoge@example.com'

# account setting

gyazo:
  sender: ['test@example.com', 'hoge@example.co.jp' ]
  upload_server: 'example.com'
  upload_path: '/gyazo-up.php'
  use_auth:
    auth_id: 'hoge'
    auth_pw: 'xxxxxxxxx'
#  receiver:
#    mail: ''
#    facebook: ''

hoge:
  sender: ['piyo@example.com']
  upload_server: 'example.co.jp'
  upload_path: '/-up.php'

